.row
{
    display: flex;
    margin-left: 100px;
    text-align: center;
    margin-right: 100px;
    margin-top: 50px;
}
  
.column {
    flex: 50%;
}

.column-contact {
    flex: 50%;
    padding-left:50px;
    padding-right:50px;
    text-align: left;
}

.label-contact {
    color:white;
    font-size: large;
}

.img-grab-sec-mid
{
    margin-bottom: 10px;
    padding-left:30px;  
}

input{
   padding:2px;
}